.game {
    display:  flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row {
    display: flex;
}

.row.row-1 div {
    border-top: 0px;
}

.row.row-3 div {
    border-bottom: 0px;
}

.row.row-1 div:first-child,
.row.row-2 div:first-child,
.row.row-3 div:first-child
 {
    border-left: 0px;
}

.row.row-1 div:nth-child(3),
.row.row-2 div:nth-child(3),
.row.row-3 div:nth-child(3) {
    border-right: 0px;
}

button{
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    background-color: #72ae72;
    color: white;
    font-weight: bold;
    outline: 0;
}
