.game {
    display:  flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row {
    display: flex;
}

button{
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    background-color: #72ae72;
    color: white;
    font-weight: bold;
    outline: 0;
}
